---
import User from "../assets/Image.png";
---

<section class="about" id="about">
  <figure class="about-picture">
    <img src={User.src} alt="Pravin Jadhav's picture" />
  </figure>
  <article class="about-bio">
    <h2 class="heading-2">
      Hello, I'm Pravin, a passionate web developer with a keen eye for detail.
    </h2>
    <p class="text-normal">
      Despite facing severe attention deficit challenges, I have relentlessly
      pursued excellence in web development, overcoming obstacles with
      determination and innovation.
    </p>
    <p class="text-normal">
      From my early days as an apprentice, every challenge has strengthened my
      problem-solving skills and deepened my expertise. I take immense pride in
      contributing to the success of various projects, from e-commerce platforms
      to mobile applications.
    </p>
    <p class="text-normal">
      I am passionate about transforming ideas into digital realities,
      leveraging cutting-edge technologies and agile methodologies. My
      unwavering dedication to my craft drives me to continuously explore new
      trends and stay ahead in the ever-evolving tech landscape. For me, work is
      more than just a profession—it is a pursuit I deeply respect and strive to
      master every day.
    </p>
  </article>
</section>
